{% extends 'base.html' %} 
    {% block title %}Añadir Categoria{% endblock %} 
{% block content %}
{% if user.is_authenticated %}
    <h1>Añadir post</h1>
    <br />

        <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-secondary">Añadir Categoria</button>

        
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            No tienes permisos añadir un post
        </div>
        
    {% endif %}
{% endblock content %}
