{% extends 'base.html' %}
{% block title %}Categorias{% endblock %}
{% block content %}
    
    {% if  category_posts%}
    <h1>Categoria {{ cats }}</h1>
    <ul>
        {% for post in category_posts %}
            <li>
                <a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a>
                - {{post.author.first_name }} 
                {{ post.author.last_name }} - 
                {{ post.post_date }}
                {% if user.is_authenticated %}
                - <small>
                        <a href="{% url 'update_post' post.pk %}">(Editar Post)</a> - 
                        <a href="{% url 'delete_post' post.pk %}">(Eliminar Post)</a>
                    </small>
                {% endif %}
                <br/>
                {{ post.body|slice:":200"}}
                {% comment %} {{ post.body|slice:":200"|safe }} {% endcomment %}
                
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <p> No hay posts en esta categoría </p>
    </div>
    {% endif %}
        
    
{% endblock content %}
