{% extends 'base.html' %}
{% block title %}Eliminar Post{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Eliminar Post</h1>
        <h3>Eliminar: {{ post.title}}</h3>
        <br />

        <form method="post">
            {% csrf_token %} 
            <strong>¿Está seguro que desea eliminar el post?</strong><br><br>
            <button class="btn btn-danger">Eliminar Post</button>

        </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                No tienes permisos para eliminar este post
            </div>
        
    {% endif %}
{% endblock content %}